Flask==2.0.2
SQLAlchemy==1.4.29
Flask-SQLAlchemy==2.5.1
Flask-Security-Too==4.1.2
Flask-Mail==0.9.1
SQLAlchemy-serializer==1.4.1
mysqlclient==1.4.4
bibtexparser==1.2.0
Pillow==9.0.0
gunicorn==20.1.0
bcrypt==3.2.0
bleach==4.1.0

