<!doctype html>
<html lang="en">
  <head>
      {% include 'includes/references.html' %}
  </head>
  <body class="nav-pad">
  {% include 'includes/navbar.html' %}

  <template id="alert">
      <div class="row">
          <div class="col-lg-12">
              <div class="alert mb-0" id="alert-msg"></div>
          </div>
      </div>
  </template>

  <div class="row pt-5 bg-light border-bottom" id="content">
      <!--############## MENU START ####################### -->
      <div class="col-lg-3 bg-light" id="menu">
          <div class="row">
              <div class="col-lg-2"></div>
              <div class="col-lg-8 text-center">
                  <h4>Actions</h4>
              </div>
              <div class="col-lg-2"></div>
          </div>
          <div class="row">
              <div class="col-lg-2"></div>
              <div class="col-lg-8">
                  <div class="container">
{#                      <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#edit-author-modal">#}
{#                          <i class="fa fa-edit"></i> Edit Author#}
{#                      </button>#}
                      <a href="/admin/authors" class="btn btn-primary btn-block">
                          <i class="fa fa-list"></i> List Authors
                      </a>
                  </div>
              </div>
              <div class="col-lg-2"></div>
          </div>
      </div>
      <!-- ########### MENU END ###################### -->

      <!-- ########### CONTENT START ################# -->
      <div class="col-lg-9 bg-light" id="authors">
        <div class="row">
            <div class="col-lg-12">
                <h4>Author</h4>
                <table class="table">
                    <tbody>
                      <tr>
                          <td><b>Surname</b></td>
                          <td>{{ data['author']['surname'] }}</td>
                      </tr>
                      <tr>
                          <td><b>Forename</b></td>
                          <td>{{ data['author']['forename'] }}</td>
                      </tr>
                      <tr>
                          <td><b>Cleanname</b></td>
                          <td>{{ data['author']['cleanname'] }}</td>
                      </tr>
                      <tr>
                          <td><b>Formatted Publications</b></td>
                          <td><a href="/?author={{ data['author']['id'] }}"><i class="fa fa-external-link"></i></a></td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
{#      <div class="row">#}
{#          <h4>Publications</h4>#}
{#          <div class="col-lg-12">#}
{#                  {% for publication in data['publications']|sort(attribute='year', reverse=True) %}#}
{#                        <div class="card bg-light">#}
{#                            <div class="row">#}
{#                                <div class="col-sm-1">#}
{#                                    {% if publication['thumb'] is not none  %}#}
{#                                        <img src="/static/uploadedFiles/thumbs/{{ publication['thumb'] }}" class="rounded img-thumbnail text-center" alt="Thumbnail" style="width: 74px !important;height:74px">#}
{#                                    {% else %}#}
{#                                        <img src="/static/images/thumb-default.png" class="rounded img-fluid img-thumbnail" alt="Thumbnail">#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                                <div class="col-sm-11 px-3">#}
{#                                    <div class="card-block px-3">#}
{#                                        <h4 class="card-title mb-0">{{ publication['title'] }}</h4>#}
{#                                        <p class="card-text mb-0">{{ publication['authors'] }}</p>#}
{#                                        <small class="card-text mb-0">#}
{#                                            {{ publication['journal'] }},#}
{#                                            <a class="text-muted" href="http://dx.doi.org/{{ publication['doi'] }}">#}
{#                                                {{ publication['doi'] }}</a>, {{ publication['year'] }}#}
{#                                        </small>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}

                     <!-- <div class="row mb-2 pl-2 pr-2">

                            <div class="col-lg-10">
                                <div class="row mb-2">
                                    <div class="col-lg-12">
                                        <div class="d-inline-block">
                                            <div class="d-inline-block align-top h-100 pr-1">
{#                                                {% if publication['thumb'] is not none  %}#}
{#                                                    <img src="/static/uploadedFiles/thumbs/{{ publication['thumb'] }}" class="rounded h-100 img-thumbnail" alt="Thumbnail">#}
{#                                                {% else %}#}
                                                    <img src="/static/images/thumb-default.png" class="rounded h-100 img-thumbnail" alt="Thumbnail">
{#                                                {% endif %}#}
                                            </div>
                                            <div class="d-inline-block">
{#                                                <h4>{{ publication['title'] }}</h4>#}
{#                                                <p class="mb-0">{{ publication['authors'] }}, </p>#}
{#                                                <small class="mb-0">{{ publication['journal'] }}, <a class="text-muted" href="http://dx.doi.org/{{ publication['doi'] }}">{{ publication['doi'] }}</a>, {{ publication['year'] }}</small>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      </div>-->
{#                  {% else %}#}
{#                    <li>No Publications.</li>#}
{#                  {% endfor %}#}
{#          </div>#}
{#      </div>#}
        <div class="row">
            <div class="col-lg-12">
                <h4>Publications</h4>
                  {% if data['publications']|length > 0 %}
                      <table class="table bg-light" id="table-list-authors">
                        <tbody>
                            {% for publication in data['publications']|sort(attribute='year', reverse=True) %}
                                <tr>
                                    <td>
                                        {% if publication['thumb'] %}
                                            <img src="/static/uploadedFiles/thumbs/{{ publication['thumb'] }}" alt="thumbnail" class="img-thumbnail list-img" onerror="if (this.src != '/static/images/thumb-default.png') this.src = '/static/images/thumb-default.png'">
                                        {% else %}
                                            <img src="/static/images/thumb-default.png" alt="thumbnail" class="img-thumbnail list-img">
                                        {% endif %}
                                    </td>
                                    <td>
                                        <h4 class="mb-0"><a class="text-secondary" href="/publications/view/{{ publication['pub_id'] }}">{{ publication['title'] }}</a></h4>
                                        <p class="mb-0">{{ publication['authors'] }}</p>
                                        <small class="mb-0">
                                            {% if publication['journal'] %}
                                                {{ publication['journal'] }},
                                            {% elif publication['booktitle'] %}
                                                {{ publication['booktitle'] }},
                                            {% endif %}
                                            {% if publication['doi'] %}
                                                DOI: <a class="text-muted" href="http://dx.doi.org/{{ publication['doi'] }}">{{ publication['doi'] }}</a>,
                                            {% endif %}
                                            {{ publication['year'] }}
                                        </small>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                  {% else  %}
                      <p>No publications found.</p>
                  {% endif %}
            </div>
        </div>
      </div>
      <!-- ########### CONTENT END ################# -->
  </div>
  {% include 'includes/footer.html' %}
    <script src="{{url_for('static', filename='js/authors/authors.js')}}"></script>
  </body>
</html>