<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="container p-3">
            <div class="row">
                <div class="col-lg-12 mb-2">
                    <img class="img-fluid list-img" src={{ url_for('static', filename='images/logo.png') }}>
                </div>
                <div class="col-lg-12">
                    <p class="text-bottom mb-0">
                        {% include 'includes/welcome_msg.html' %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>