<!doctype html>
<html lang="en">
  <head>
      {% include 'includes/references.html' %}
  </head>
  <body class="nav-pad bg-light">
  {% include 'includes/navbar.html' %}

  <template id="alert">
      <div class="row">
          <div class="col-lg-12">
              <div class="alert mb-0" id="alert-msg"></div>
          </div>
      </div>
  </template>

  <!-- Display messages after returning after redirects etc -->
  {% include 'includes/messages.html' %}

  <div class="row pt-5 bg-light border-bottom" id="content">
      <!--############## MENU START ####################### -->
      <div class="col-lg-3 bg-light" id="menu">
          <div class="row">
              <div class="col-lg-2"></div>
              <div class="col-lg-5 text-center">
                  <h4>Actions</h4>
              </div>
              <div class="col-lg-5"></div>
          </div>
          <div class="row">
              <div class="col-lg-2"></div>
              <div class="col-lg-5">
                  <div class="container">
                      <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#add-author-modal">
                          <i class="fa fa-plus"></i> Add Author
                      </button>
                  </div>
              </div>
              <div class="col-lg-5"></div>
          </div>
      </div>
      <!-- ########### MENU END ###################### -->

      <!-- ########### CONTENT START ################# -->
      <div class="col-lg-9 bg-light" id="authors">
            <div class="container">
                <h2>Authors</h2>
                  <table class="table table-striped d-none" id="table-authors">
                    <thead>
                      <tr>
                          <th>Surname</th>
                          <th>Forname</th>
                          <th>Cleanname</th>
                          <th>Publications</th>
                          <th>View</th>
                          <th>Edit</th>
                          <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for author in authors %}
                            <tr id="author_{{ author['id'] }}">
                                <td>{{ author['surname'] }}</td>
                                <td>{{ author['forename'] }}</td>
                                <td>{{ author['cleanname'] }}</td>
                                <td>{{ author['count'] }} </td>
                                <td><a class="btn text-primary p-0" href="/view/authors/{{ author['id'] }}"><i class="fa fa-external-link"></i></a></td>
                                <td><button type="button" class="btn text-primary edit-author-btn p-0" data-authorid="{{ author['id'] }}"><i class="fa fa-edit"></i></button></td>
                                <td><button type="button" class="btn text-danger delete-author-btn p-0" data-authorid="{{ author['id'] }}"><i class="fa fa-times"></i></button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
            <div class="d-flex justify-content-center mb-3 pt-2" id="spinner">
                <div class="spinner-border" role="status"></div>
            </div>
      </div>

      <!-- ########### CONTENT END ################# -->
  </div>

  <!-- Add author modal -->
  {% include 'public/admin/authors/add_author_modal.html' %}
  {% include 'public/admin/authors/edit_author_modal.html' %}
  <!-- -->

    {% include 'includes/footer.html' %}
  <script src="{{url_for('static', filename='js/authors/authors.js')}}"></script>
  <script src="{{url_for('static', filename='js/authors/validate_author.js')}}"></script>
  </body>
</html>